:root[data-theme='light']{
	--nord0: #2E3440;
	--nord1: #3B4252;
	--nord2: #434C5E;
	--nord3: #4C566A;
	--nord4: #D8DEE9;
	--nord5: #E5E9F0;
	--nord6: #ECEFF4;
	--nord7: #8FBCBB;
	--nord8: #88C0D0;
	--nord9: #81A1C1;
	--nord10: #5E81AC;
	--nord11: #BF616A;
	--nord12: #D08770;
	--nord13: #EBCB8B;
	--nord14: #A3BE8C;
	--nord15: #B48EAD;

	--sl-color-white: var(--nord0);
	--sl-color-gray-1: var(--nord1);
	--sl-color-gray-2: var(--nord1);
	--sl-color-gray-3: var(--nord2);
	--sl-color-gray-4: var(--nord2);
	--sl-color-gray-5: var(--nord3);
	--sl-color-gray-6: var(--nord4);
	--sl-color-gray-7: var(--nord5);
	--sl-color-black: var(--nord6);

	--sl-color-orange-low: var(--nord12);
	--sl-color-orange: var(--nord12);
	--sl-color-orange-high: var(--nord7);
	--sl-color-green-low: var(--nord14);
	--sl-color-green: var(--nord14);
	--sl-color-green-high: var(--nord9);
	--sl-color-blue-low: var(--nord8);
	--sl-color-blue: var(--nord9);
	--sl-color-blue-high: var(--nord10);
	--sl-color-purple-low: var(--nord15);
	--sl-color-purple: var(--nord15);
	--sl-color-purple-high: var(--nord7);
	--sl-color-red-low: var(--nord11);
	--sl-color-red: var(--nord11);
	--sl-color-red-high: var(--nord7);

	--sl-color-accent-low: var(--nord7);
	--sl-color-accent: var(--nord7);
	--sl-color-accent-high: var(--nord7);
}